# Logs
*.log

# Environment variables
.env
private

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Distribution directories
build/
dist/
lib/
.DS_Store